@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');

.app {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-image: url(/room.webp);
	background-size: cover;
	background-position: center;
	position: relative;s

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.6);
	}
}
