.home {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.clock-row {
	display: flex;
	align-items: center;
	justify-content: center;
	/* gap: 16px; */
}
